In [117]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [118]:
q2_train = pd.read_csv('../통신망 해커톤/data/Q2_data/Q2_train.csv')
q2_test = pd.read_csv('../통신망 해커톤/data/Q2_data/Q2_test.csv')

##### slotna 변수 생성

In [119]:
# slot이 결측치이면 1, 아니면 0 인 변수 생성 -> powerfail일 가능성 높음
q2_train['slotna'] = q2_train['slot'].isna().astype(int)
q2_test['slotna'] = q2_test['slot'].isna().astype(int)

In [120]:
print(q2_train['slotna'].value_counts())
print(q2_test['slotna'].value_counts())

0    8957
1     365
Name: slotna, dtype: int64
0    34890
1     2781
Name: slotna, dtype: int64

##### alarmmsg_original 전처리
###### q2_test에서 domain이 C인 메시지는 대문자 추출해서 메시지에 추가 및 메시지 전처리
###### q2_train 메시지 전처리

In [121]:
# q2_test에서 domain C의 message에서 대문자 추출하여 합친 문자를 message 리스트로 추가 및 message 전처리
for i in range(len(q2_test)):
    if q2_test['root_cause_domain'].iloc[i,] == 'C':
        input_string = q2_test['alarmmsg_original'].iloc[i,]
        uppercase_letters = [char for char in input_string if char.isupper()]
        result = ''.join(uppercase_letters)

        # result 전처리
        if result == 'LOS' or result == 'LC':
            result = ''

        # 원래 메시지 전처리
        input_string = input_string.lower()
        input_string = input_string.replace('(', '').replace(')', '') # 괄호 없애기
        input_string = input_string.replace('-',' ').replace('_',' ').replace(':', '') # ':' 없애기
        input_string = input_string.split() # 공백 기준으로 split
        for _ in input_string: # 조사나 의미 없는 단어 삭제
            if 'of' in input_string:
                input_string.remove('of')
            if 'los' in input_string:
                input_string.remove('los')
            if 'loss' in input_string:
                input_string.remove('loss')
            if 'by' in input_string:
                input_string.remove('by')
            if 'with' in input_string:
                input_string.remove('with')
            if 'fail' in input_string:
                input_string.remove('fail')
            if 'error' in input_string:
                input_string.remove('error')
            if 'err' in input_string:
                input_string.remove('err')
            if 'failure' in input_string:
                input_string.remove('failure')
        if result:
            q2_test['alarmmsg_original'].iloc[i,] = [input_string, [result.lower()]]
            q2_test['alarmmsg_original'].iloc[i,] = sum(q2_test['alarmmsg_original'].iloc[i,], [])
        else:
            q2_test['alarmmsg_original'].iloc[i,] = input_string
        
    else:
        input_string1 = q2_test['alarmmsg_original'].iloc[i,]

        # 원래 메시지 전처리
        input_string1 = input_string1.lower()
        input_string1 = input_string1.replace('(', '').replace(')', '') # 괄호 없애기
        input_string1 = input_string1.replace('-',' ').replace('_',' ').replace(':', '') # ':' 없애기
        input_string1 = input_string1.split() # 공백 기준으로 split
        for _ in input_string: # 조사나 의미 없는 단어 삭제
            if 'of' in input_string1:
                input_string1.remove('of')
            if 'los' in input_string1:
                input_string1.remove('los')
            if 'loss' in input_string1:
                input_string1.remove('loss')
            if 'by' in input_string1:
                input_string1.remove('by')
            if 'with' in input_string1:
                input_string1.remove('with')
            if 'fail' in input_string1:
                input_string1.remove('fail')
            if 'error' in input_string1:
                input_string1.remove('error')
            if 'err' in input_string1:
                input_string1.remove('err')
            if 'failure' in input_string1:
                input_string1.remove('failure')
            if 'ether' in input_string1:
                input_string1 = ['eth']

        q2_test['alarmmsg_original'].iloc[i,] = input_string1

q2_test

C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\3663434740.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q2_test['alarmmsg_original'].iloc[i,] = input_string
C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\3663434740.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q2_test['alarmmsg_original'].iloc[i,] = input_string1
C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\3663434740.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q2_test['alarmmsg_original'].iloc[i,] = [input_string, [result.lower()]]
C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\3663434740.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q2_test['alarmmsg_original'].iloc[i,] = sum(q2_test['alarmmsg_original'].iloc[i,], [])

,ticketno,alarmno,alarmtime,alarmlevel,alarmmsg_original,site,sysname,unit,slot,port,sva,root_cause_domain,slotna
0,21812391.0,1671894138838,2022-12-25 00:02:16+09:00,5,[signal],AEAQ,afbd,r1sr1sl16/ETHLocPort#15#1,16.0,15.0,NSA,C,0
1,21775988.0,1671894172511,2022-12-25 00:02:51+09:00,5,[signal],ADZW,aezn,r1sr1sl13/ETHLocPort#20#1,13.0,20.0,NSA,C,0
2,21792259.0,1671894204682,2022-12-25 00:03:22+09:00,4,"[ddm, rx, pwr, high]",AECE,afeg,X2FUA,2.0,1.0,NSA,B,0
3,21812412.0,1671894215702,2022-12-25 00:03:33+09:00,5,"[batt, env]",ACCN,aclp,---,NaN,NaN,SA,B,1
4,21812417.0,1671894220812,2022-12-25 00:03:39+09:00,5,[signal],AEAQ,afbd,r1sr1sl16/ETHLocPort#16#1,16.0,16.0,NSA,C,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37666,21986223.0,1672412311698,2022-12-30 23:58:30+09:00,5,[signal],ADZW,aezn,r1sr1sl13/ETHLocPort#20#1,13.0,20.0,NSA,C,0
37667,22015278.0,1672412316271,2022-12-30 23:58:33+09:00,4,"[ddm, rx, pwr, high]",AEMD,afsr,G16FU,5.0,6.0,SA,B,0
37668,21986426.0,1672412317238,2022-12-30 23:58:34+09:00,5,"[mep, lsp, rdi]",ACMY,acxj,G2FUA,1.0,1.0,NSA,B,0
37669,22015300.0,1672412373531,2022-12-30 23:59:32+09:00,5,[signal],AEAQ,afbd,r1sr1sl16/ETHLocPort#16#1,16.0,16.0,NSA,C,0
37670,21986426.0,1672412391221,2022-12-30 23:59:48+09:00,5,"[mep, lsp, rdi]",ACMY,acxj,G2FUA,1.0,1.0,NSA,B,0

In [122]:
# q2_train의 message도 동일하게 전처리 (대문자 추출 x)
for i in range(len(q2_train)):
    s = q2_train['alarmmsg_original'].iloc[i]
    s = s.lower()
    s = s.replace('(', '').replace(')', '') # 괄호 없애기
    s = s.replace('-', ' ').replace('_', ' ') # '-', '_' 구분자 공백으로 바꾸기
    s = s.split() # 공백 기준으로 split
    for _ in s: # 조사나 의미 없는 단어 삭제
        if 'of' in s:
            s.remove('of')
        if 'los' in s:
            s.remove('los')
        if 'loss' in s:
            s.remove('loss')
        if 'by' in s:
            s.remove('by')
        if 'with' in s:
            s.remove('with')
        if 'fail' in s:
            s.remove('fail')
        if 'error' in s:
            s.remove('error')
        if 'err' in s:
            s.remove('err')
    q2_train['alarmmsg_original'].iloc[i] = s

q2_train

C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\687263408.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q2_train['alarmmsg_original'].iloc[i] = s

,ticketno,alarmno,alarmtime,alarmlevel,alarmmsg_original,site,sysname,unit,slot,port,sva,root_cause_domain,root_cause_type,slotna
0,21122633.0,1669820428245,2022-12-01 00:02:24+09:00,5,[eth],ACEN,acnt,EQPT,3.0,1.0,NSA,A,LinkCut,0
1,21122633.0,1669821318728,2022-12-01 00:17:15+09:00,5,[eth],ACEN,acnt,EQPT,3.0,1.0,NSA,A,LinkCut,0
2,21122633.0,1669822214832,2022-12-01 00:32:11+09:00,5,[eth],ACEN,acnt,EQPT,3.0,1.0,NSA,A,LinkCut,0
3,21122633.0,1669823114128,2022-12-01 00:47:10+09:00,5,[eth],ACEN,acnt,EQPT,3.0,1.0,NSA,A,LinkCut,0
4,21122633.0,1669824028082,2022-12-01 01:02:24+09:00,5,[eth],ACEN,acnt,EQPT,3.0,1.0,NSA,A,LinkCut,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9317,21774618.0,1671892499215,2022-12-24 23:37:14+09:00,7,[opt],AFAA,agow,EQPT,5.0,5.0,NSA,A,LinkCut,0
9318,15693425.0,877949375,2022-12-25 10:13:46+09:00,7,"[opt, remove]",AGFD,aibb,EQPT,1.0,8.0,NSA,A,UnitFail,0
9319,21809789.0,1671974758375,2022-12-25 22:28:14+09:00,7,[opt],ADKA,aeaq,EQPT,3.0,3.0,NSA,A,LinkCut,0
9320,21811213.0,1671978167736,2022-12-25 23:25:03+09:00,7,[opt],ABZO,acie,EQPT,5.0,6.0,NSA,A,LinkCut,0
9321,21811213.0,1671979461271,2022-12-25 23:46:37+09:00,7,[opt],ABZO,acie,EQPT,5.0,6.0,NSA,A,LinkCut,0

##### 필요 없는 변수 drop

In [123]:
q2_train.drop(labels = ['alarmno', 'slot', 'port', 'sva', 'root_cause_domain'], axis = 1, inplace = True)
q2_test.drop(labels = ['alarmno', 'slot', 'port', 'sva', 'root_cause_domain'], axis = 1, inplace = True)

In [124]:
print(q2_train.columns)
print(q2_test.columns)

Index(['ticketno', 'alarmtime', 'alarmlevel', 'alarmmsg_original', 'site',
       'sysname', 'unit', 'root_cause_type', 'slotna'],
      dtype='object')
Index(['ticketno', 'alarmtime', 'alarmlevel', 'alarmmsg_original', 'site',
       'sysname', 'unit', 'slotna'],
      dtype='object')

In [125]:
col = q2_train.columns.to_numpy()
col = col[[0, 1, 2, 3, 4, 5, 6, 8, 7]]
q2_train = q2_train[col]

##### time 변수 datetime으로 타입 변경

In [126]:
q2_train['alarmtime'] = pd.to_datetime(q2_train['alarmtime'])
q2_test['alarmtime'] = pd.to_datetime(q2_test['alarmtime'])
q2_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9322 entries, 0 to 9321
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticketno           9322 non-null   float64
 1   alarmtime          9322 non-null   datetime64[ns, pytz.FixedOffset(540)]
 2   alarmlevel         9322 non-null   int64
 3   alarmmsg_original  9322 non-null   object
 4   site               9322 non-null   object
 5   sysname            9322 non-null   object
 6   unit               9322 non-null   object
 7   slotna             9322 non-null   int32
 8   root_cause_type    9322 non-null   object
dtypes: datetime64[ns, pytz.FixedOffset(540)](1), float64(1), int32(1), int64(1), object(5)
memory usage: 619.2+ KB

##### train, test 데이터 합치기

In [127]:
q2_train['train'] = 1
q2_test['train'] = 0

In [128]:
col = q2_train.columns.to_numpy()
col = col[[0, 1, 2, 3, 4, 5, 6, 7, 9, 8]]
q2_train = q2_train[col]

In [129]:
q2_test

,ticketno,alarmtime,alarmlevel,alarmmsg_original,site,sysname,unit,slotna,train
0,21812391.0,2022-12-25 00:02:16+09:00,5,[signal],AEAQ,afbd,r1sr1sl16/ETHLocPort#15#1,0,0
1,21775988.0,2022-12-25 00:02:51+09:00,5,[signal],ADZW,aezn,r1sr1sl13/ETHLocPort#20#1,0,0
2,21792259.0,2022-12-25 00:03:22+09:00,4,"[ddm, rx, pwr, high]",AECE,afeg,X2FUA,0,0
3,21812412.0,2022-12-25 00:03:33+09:00,5,"[batt, env]",ACCN,aclp,---,1,0
4,21812417.0,2022-12-25 00:03:39+09:00,5,[signal],AEAQ,afbd,r1sr1sl16/ETHLocPort#16#1,0,0
...,...,...,...,...,...,...,...,...,...
37666,21986223.0,2022-12-30 23:58:30+09:00,5,[signal],ADZW,aezn,r1sr1sl13/ETHLocPort#20#1,0,0
37667,22015278.0,2022-12-30 23:58:33+09:00,4,"[ddm, rx, pwr, high]",AEMD,afsr,G16FU,0,0
37668,21986426.0,2022-12-30 23:58:34+09:00,5,"[mep, lsp, rdi]",ACMY,acxj,G2FUA,0,0
37669,22015300.0,2022-12-30 23:59:32+09:00,5,[signal],AEAQ,afbd,r1sr1sl16/ETHLocPort#16#1,0,0
37670,21986426.0,2022-12-30 23:59:48+09:00,5,"[mep, lsp, rdi]",ACMY,acxj,G2FUA,0,0

In [130]:
data_total = pd.concat([q2_train, q2_test])

In [131]:
data_total

,ticketno,alarmtime,alarmlevel,alarmmsg_original,site,sysname,unit,slotna,train,root_cause_type
0,21122633.0,2022-12-01 00:02:24+09:00,5,[eth],ACEN,acnt,EQPT,0,1,LinkCut
1,21122633.0,2022-12-01 00:17:15+09:00,5,[eth],ACEN,acnt,EQPT,0,1,LinkCut
2,21122633.0,2022-12-01 00:32:11+09:00,5,[eth],ACEN,acnt,EQPT,0,1,LinkCut
3,21122633.0,2022-12-01 00:47:10+09:00,5,[eth],ACEN,acnt,EQPT,0,1,LinkCut
4,21122633.0,2022-12-01 01:02:24+09:00,5,[eth],ACEN,acnt,EQPT,0,1,LinkCut
...,...,...,...,...,...,...,...,...,...,...
37666,21986223.0,2022-12-30 23:58:30+09:00,5,[signal],ADZW,aezn,r1sr1sl13/ETHLocPort#20#1,0,0,NaN
37667,22015278.0,2022-12-30 23:58:33+09:00,4,"[ddm, rx, pwr, high]",AEMD,afsr,G16FU,0,0,NaN
37668,21986426.0,2022-12-30 23:58:34+09:00,5,"[mep, lsp, rdi]",ACMY,acxj,G2FUA,0,0,NaN
37669,22015300.0,2022-12-30 23:59:32+09:00,5,[signal],AEAQ,afbd,r1sr1sl16/ETHLocPort#16#1,0,0,NaN
37670,21986426.0,2022-12-30 23:59:48+09:00,5,"[mep, lsp, rdi]",ACMY,acxj,G2FUA,0,0,NaN

##### alarmtime변수로 지속시간 변수 추가 및 time변수 삭제

In [132]:
data = data_total.groupby('ticketno')['alarmtime'].agg(**{'min_time':'min', 'max_time':'max'}).reset_index()
data['duration'] = data['max_time'] - data['min_time']
for i in range(len(data['duration'])):
    data['duration'][i] = data['duration'][i].seconds / 60

C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\116635913.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['duration'][i] = data['duration'][i].seconds / 60

##### 전표 별 level 당 개수 변수 생성

In [133]:
level = data_total.groupby(['ticketno','alarmlevel']).size().unstack(fill_value = 0).reset_index()

In [134]:
data['level3'] = level[3]
data['level4'] = level[4]
data['level5'] = level[5]
data['level7'] = level[7]

In [135]:
data.drop(labels=['min_time', 'max_time'], axis = 1, inplace = True)
data

        ticketno  duration  level3  level4  level5  level7
0     14753084.0  5.016667       0       2       1       3
1     14771766.0  0.016667       0       2       0       2
2     14777089.0  0.016667       0       2       0       3
3     14790052.0       0.0       0       2       0       0
4     14879922.0  5.033333       0       2       1       3
...          ...       ...     ...     ...     ...     ...
5436  22015278.0       0.0       0       1       0       0
5437  22015300.0       0.0       0       0       1       0
5438  23818326.0      0.15       0       6      11       0
5439  23819373.0       0.0       0       0       1       0
5440  26067480.0  0.033333       0       0       2       0

[5441 rows x 6 columns]

##### alarmmsg 전표별로 메시지 이어붙이기

In [136]:
data_total.groupby('ticketno')['alarmmsg_original'].apply(list).reset_index()

        ticketno                                  alarmmsg_original
0     14753084.0  [[psu], [eth, link], [psu], [eth, link], [eth,...
1     14771766.0           [[eth, link], [psu], [psu], [eth, link]]
2     14777089.0  [[psu], [psu], [eth, link], [eth, link], [eth,...
3     14790052.0                                     [[psu], [psu]]
4     14879922.0  [[eth, link], [eth, link], [psu], [psu], [eth,...
...          ...                                                ...
5436  22015278.0                             [[ddm, rx, pwr, high]]
5437  22015300.0                                         [[signal]]
5438  23818326.0  [[server, signal, ssf], [server, signal, ssf],...
5439  23819373.0                            [[server, signal, ssf]]
5440  26067480.0                   [[connectivity], [connectivity]]

[5441 rows x 2 columns]

In [137]:
message = data_total.groupby('ticketno')['alarmmsg_original'].apply(list).reset_index()
for i in range(len(message)):
    message['alarmmsg_original'].iloc[i] = sum(message['alarmmsg_original'].iloc[i],[])

message

C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\1121775754.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  message['alarmmsg_original'].iloc[i] = sum(message['alarmmsg_original'].iloc[i],[])

        ticketno                                  alarmmsg_original
0     14753084.0  [psu, eth, link, psu, eth, link, eth, link, et...
1     14771766.0                   [eth, link, psu, psu, eth, link]
2     14777089.0        [psu, psu, eth, link, eth, link, eth, link]
3     14790052.0                                         [psu, psu]
4     14879922.0  [eth, link, eth, link, psu, psu, eth, link, et...
...          ...                                                ...
5436  22015278.0                               [ddm, rx, pwr, high]
5437  22015300.0                                           [signal]
5438  23818326.0  [server, signal, ssf, server, signal, ssf, ser...
5439  23819373.0                              [server, signal, ssf]
5440  26067480.0                       [connectivity, connectivity]

[5441 rows x 2 columns]

In [139]:
data = pd.merge(data, message)
data = pd.merge(data, data_total.groupby('ticketno')['train'].agg(**{'train':max}).reset_index())
data = pd.merge(data, data_total.groupby('ticketno')['root_cause_type'].agg(**{'type':max}).reset_index())

In [140]:
data

,index,ticketno,duration,level3,level4,level5,level7,alarmmsg_original,train,type
0,0,14753084.0,5.016667,0,2,1,3,"[psu, eth, link, psu, eth, link, eth, link, et...",1,PowerFail
1,1,14771766.0,0.016667,0,2,0,2,"[eth, link, psu, psu, eth, link]",1,PowerFail
2,2,14777089.0,0.016667,0,2,0,3,"[psu, psu, eth, link, eth, link, eth, link]",1,PowerFail
3,3,14790052.0,0.0,0,2,0,0,"[psu, psu]",1,PowerFail
4,4,14879922.0,5.033333,0,2,1,3,"[eth, link, eth, link, psu, psu, eth, link, et...",1,PowerFail
...,...,...,...,...,...,...,...,...,...,...
5436,5436,22015278.0,0.0,0,1,0,0,"[ddm, rx, pwr, high]",0,NaN
5437,5437,22015300.0,0.0,0,0,1,0,[signal],0,NaN
5438,5438,23818326.0,0.15,0,6,11,0,"[server, signal, ssf, server, signal, ssf, ser...",0,NaN
5439,5439,23819373.0,0.0,0,0,1,0,"[server, signal, ssf]",0,NaN
5440,5440,26067480.0,0.033333,0,0,2,0,"[connectivity, connectivity]",0,NaN

In [141]:
data['type'].value_counts()

LinkCut      559
UnitFail     345
PowerFail    210
Name: type, dtype: int64

In [142]:
data_train = data[data['train'] == 1]
data_test = data[data['train'] == 0]

In [143]:
print(len(data_train))
print(len(data_test))

1114
4327

In [144]:
data_train.drop(labels = ['train'], axis = 1, inplace = True)
data_test.drop(labels = ['train'], axis = 1, inplace = True)

C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\2523531831.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train.drop(labels = ['train'], axis = 1, inplace = True)
C:\Users\장희중학부재학통계학과\AppData\Local\Temp\ipykernel_19320\2523531831.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test.drop(labels = ['train'], axis = 1, inplace = True)

##### 전표별 msg에서 가장 많이 나온 단어들을 행 별로 구한 뒤 각 type에 저장

In [145]:
power = []
unit = []
link = []

for i in range(len(data_train)):
    s = data_train['alarmmsg_original'].iloc[i]
    a = list(set(s))
    num = []
    for j in range(len(a)):
        num.append(s.count(a[j]))
    idx = []
    for k in range(len(num)):
        if num[k] == max(num):
            idx.append(k)
            
    current_type = data_train['type'].iloc[i]  # 해당 행의 'type' 값을 가져옴
    
    if current_type == 'LinkCut':
        for c in idx:
            link.append(a[c])
    elif current_type == 'UnitFail':
        for c in idx:
            unit.append(a[c])
    else:
        for c in idx:
            power.append(a[c])

##### type별로 value_counts

In [146]:
pd.DataFrame(power).value_counts()

psu                   161
eth                    96
link                   87
opt                    14
dcc                    10
batt                    4
low                     4
48v                     1
fan                     1
protectionswitched      1
dtype: int64

In [147]:
pd.DataFrame(unit).value_counts()

opt             325
remove          302
booting          13
nvram             7
eth               2
link              2
autonego          1
dcc               1
lof               1
mismatch          1
portshutdown      1
pw                1
rem               1
tdm               1
unit              1
dtype: int64

In [148]:
pd.DataFrame(link).value_counts()

opt         388
loc         120
lsp          96
eth          44
dcc          29
low          25
pwr          25
trk          10
mis          10
conn         10
link          8
pw            7
traffic       6
no            6
rx            5
autonego      4
mismatch      4
rmt           1
ql            1
tdm           1
manual        1
dtype: int64

##### test set에서 나오는 메시지 별 개수 보기

In [149]:
msg_test = []
for i in range(len(data_test)):
    s = data_test['alarmmsg_original'].iloc[i]
    a = list(set(s))
    num = []
    for j in range(len(a)):
        num.append(s.count(a[j]))
    idx = []
    for k in range(len(num)):
        if num[k] == max(num):
            idx.append(k)
    for c in idx:
        msg_test.append(a[c])

In [150]:
from gensim.models import FastText

# 단어리스트들
word_lists = {
    "power": power,
    "unit": unit,
    "link": link
}

# FastText 모델 학습
models = {}
for type_, words in word_lists.items():
    model = FastText(sentences = [words], vector_size=100, window=5, min_count=1, sg=0)
    models[type_] = model


# 테스트 데이터의 가장 유사한 타입 계산
results = []
for test_word in msg_test:
    result = {"test_word": test_word}
    most_similar_type = None
    highest_similarity = -1
    for type_, model in models.items():
        similar_score = model.wv.similarity(test_word, type_)
        if similar_score > highest_similarity:
            highest_similarity = similar_score
            most_similar_type = type_
    result["most_similar_type"] = most_similar_type
    results.append(result)

# 결과를 DataFrame으로 정리
df = pd.DataFrame(results)

# 결과 출력
print(df)

         test_word most_similar_type
0             link              link
1              psu              link
2              eth              link
3              psu              link
4              psu              link
...            ...               ...
7702        signal              link
7703        signal              link
7704           ssf             power
7705        server              link
7706  connectivity              link

[7707 rows x 2 columns]

In [151]:

# 테스트 데이터에 대한 유사도 계산 및 분류
results = []
for test_word in msg_test:
    result = {"test_word": test_word}
    for type_, model in models.items():
        similar_words = model.wv.most_similar(test_word, topn=3)
        similar_words_list = [word for word, _ in similar_words]
        result[type_] = similar_words_list
    results.append(result)

# 결과를 DataFrame으로 정리
df = pd.DataFrame(results)

# 결과 출력
print(df)

         test_word                           power                      unit  \
0             link                [psu, eth, batt]    [remove, booting, opt]
1              psu                [link, eth, dcc]  [tdm, portshutdown, rem]
2              eth                [psu, link, dcc]    [remove, booting, opt]
3              psu                [link, eth, dcc]  [tdm, portshutdown, rem]
4              psu                [link, eth, dcc]  [tdm, portshutdown, rem]
...            ...                             ...                       ...
7702        signal                 [opt, psu, eth]    [autonego, nvram, opt]
7703        signal                 [opt, psu, eth]    [autonego, nvram, opt]
7704           ssf  [48v, low, protectionswitched]   [portshutdown, pw, tdm]
7705        server                [batt, dcc, opt]           [tdm, dcc, lof]
7706  connectivity  [low, 48v, protectionswitched]    [unit, booting, nvram]

                      link
0          [opt, loc, lsp]
1            [rx, tdm, ql]
2          [opt, loc, lsp]
3            [rx, tdm, ql]
4            [rx, tdm, ql]
...                    ...
7702  [pwr, autonego, loc]
7703  [pwr, autonego, loc]
7704     [manual, tdm, no]
7705    [manual, dcc, pwr]
7706      [conn, low, loc]

[7707 rows x 4 columns]

In [ ]:
test = []
for i in range(len(data_test)):
    test.append(data_test['alarmmsg_original'].iloc[i])
test

In [159]:
# 행 별로 각 타입의 유사도 계산
results = []
for row in test:
    result = {}
    for test_word in row:
        result[test_word] = {}
        for type_, model in models.items():
            similar_score = model.wv.similarity(test_word, type_)
            result[test_word][type_] = similar_score
    results.append(result)

# 결과를 DataFrame으로 정리
df = pd.DataFrame(results)

In [160]:
df

,psu,eth,link,no,rx,traffic,booting,tx,opt,remove,...,links,matrix,iocplmf,fault,rfi,cep,ais,synchronization,raise,ssfr
0,"{'power': -0.09976518, 'unit': -0.20247589, 'l...","{'power': 0.042715956, 'unit': 0.36847126, 'li...","{'power': 0.095609024, 'unit': 0.47404736, 'li...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'power': -0.09976518, 'unit': -0.20247589, 'l...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'power': -0.09976518, 'unit': -0.20247589, 'l...","{'power': 0.042715956, 'unit': 0.36847126, 'li...",NaN,"{'power': 0.02950731, 'unit': -0.09543492, 'li...","{'power': -0.07989214, 'unit': -0.20920819, 'l...","{'power': -0.012493663, 'unit': -0.058762938, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'power': -0.09976518, 'unit': -0.20247589, 'l...","{'power': 0.042715956, 'unit': 0.36847126, 'li...","{'power': 0.095609024, 'unit': 0.47404736, 'li...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'power': -0.09976518, 'unit': -0.20247589, 'l...","{'power': 0.042715956, 'unit': 0.36847126, 'li...","{'power': 0.095609024, 'unit': 0.47404736, 'li...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4322,NaN,NaN,NaN,NaN,"{'power': -0.07989214, 'unit': -0.20920819, 'l...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN